<div>
	<MudNavLink Href="@Href">
		<div class="d-flex flex-column align-center">
			<MudIcon Icon="@Icon"/>
			<MudText Typo="Typo.body2" Align="Align.Center">@Name</MudText>
		</div>
	</MudNavLink>
</div>

@code {
	[Parameter]
	public string? Href { get; set; }

	[Parameter]
	public string? Icon { get; set; }

	[Parameter]
	public string? Name { get; set; }
}
