@page "/newPost"
@using EchoSphere.ApiGateway.Client
@using EchoSphere.ApiGateway.Contracts
@using EchoSphere.BlazorShared

@inject IPostClient PostClient;
@inject LongOperationExecutor LongOperationExecutor;

<div>
	<MudForm ValidationDelay="200" @bind-IsValid="_newPostFormIsValid">
		<MudTextField Label="Title" @bind-Value="_title" Required/>
		<MudTextField Label="Body" @bind-Value="_body" Required Lines="3"/>
		<MudButton Disabled="!_newPostFormIsValid" OnClick="PublishPost">Publish</MudButton>
	</MudForm>
</div>

@code {
	private bool _newPostFormIsValid;
	private string? _title;
	private string? _body;

	private Task PublishPost()
	{
		return LongOperationExecutor.ExecuteLongOperation(
			() => PostClient.PublishPost(new PublishPostRequestV1 { Title = _title!, Body = _body! }, CancellationToken.None));
	}
}